* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: aliceblue;
}
.container {
  background: url("../bg.jpg");
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
}
.container header ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.container header ul li {
  list-style: none;
}
.container header ul li a {
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}
.container header ul li a:hover {
  color: #FFD700;
  transition: all 0.4s ease-in-out;
}
.container header .logo {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1em;
  color: #FFD700;
}
.container header .bar {
  display: none;
}
.container .texts {
  width: 70%;
  padding: 2em;
  text-transform: uppercase;
}
.container .texts h1 {
  font-weight: 700;
  margin-top: 1em;
}
.container .texts p {
  margin-top: 1em;
  font-size: 1em;
}
.container .texts a {
  margin-top: 1em;
  font-size: 1em;
  display: inline-block;
  padding: 1em 1.6em;
  border: 2px solid #FFD700;
  transition: all 0.4s ease-in-out;
  color: #FFD700;
}
.container .texts a:hover {
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-color: #bda000;
}
.container .footer {
  position: relative;
  left: 3em;
  bottom: 1.5em;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .footer span {
  font-size: 2em;
}
@media (max-width: 900px) {
  .container .texts {
    width: 100%;
    background-position: 0px 0px !important;
  }
  .texts p {
    text-shadow: 6px 6px 9px #ffffff;
    font-size: 100%;
  }
  .texts h1 {
    font-size: 1.3em;
  }
  .texts a {
    font-weight: 700;
    padding: 1em 0.5em !important;
    background-color: #FFD700;
    color: #fff !important;
    border-color: #fff !important;
  }
  .texts a:hover {
    background-color: transparent !important;
  }
  ul {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column !important;
    justify-content: space-around;
    width: 100% !important;
    padding-top: 15em;
    padding-bottom: 15em;
    height: 100vh;
    align-items: center;
    z-index: 10;
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
    background-color: rgba(0, 0, 0, 0.904);
  }
  ul li {
    font-size: 1.7em;
  }
  .bar {
    display: inline-block !important;
    font-size: 1.7em !important;
    color: #fff;
    z-index: 11;
    position: fixed;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }
  .hide {
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;
  }
  .footer {
    width: 70% !important;
    justify-content: space-around;
  }
}
